<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video Play and download</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">URL of video</ion-label>
    <ion-input [(ngModel)]="donwloadUrl"></ion-input>
  </ion-item>
  <ion-button (click)="downloadVideo()" [disabled]="donwloadUrl ==''" expand="full">
    <ion-icon name="download" slot="start"></ion-icon>
    Download
  </ion-button>
  

</ion-content>
